{% extends "layout.html"%}
{% block title %}Question{% endblock %}
{% block content %}
      <div class="jumbotron">
        <h1>{{ question.question }}</h1>
        <p>{{ question.answer }}</p>
        <p><a class="btn btn-primary btn-lg">Asked By: {{ question.asker }}</a></p>
        <p><a class="btn btn-primary btn-lg">Answered By: {{ question.asked }}</a></p>
        <p>{{ question.time }}</p>
      </div>
      {% if answers %}
        <div class="answers">
            {% for num, answer in answers %}
                <div class="answer">
                    <p>{{num+1}}: {{answer.answer_owner}}: <b>{{answer.answer}}</b></p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}